# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\UNIVERSITY\4TH_SEM\3 EN2550 - Fundamentals of Image Processing and Machine Vision\Computer-Vision-and-Image-Processing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
